body {
  padding: 0;
  margin: 0;
  height: 100%;
  text-align: center;
}

.bg {
  background-image: url("../images/1755.jpg");

  background-size: 100%;
  background-repeat: no-repeat;
}

.game-intro {
  float: left;
  padding: 0%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

.logo-img {
  width: 300px;
}

body button {
  font-size: 30px;
  background-color: #f7ea38;
  color: rgb(7, 7, 7);
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-board {
  float: none;
}
